<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/base.css' />
    <script src="/js/index.js"></script>
    <script>

      /*ajax('GET', '/test', {
        name: 'Charles Park',
        id: 1000,
        'type of dev': 'UI'
      }, function (response) {
        console.log(response);
      });

      ajax('POST', '/test', {
        name: 'Charles Park',
        id: 1000,
        'type of dev': 'UI'
      }, function (response) {
        console.log(response);
      });*/

    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
